{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<title > DigiCentra </title>
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no ">
	{% block head %}{% endblock %}
</head>
<body>
	
	


	{% block content %}{% endblock %}


</body>
</html>