{% extends 'Users/base.html' %}
{% block content %}
{% load static %}

 <br>
<div class="menubuttons" style="border-radius: 20px;text-align: unset;font-weight: normal;border-color: rgb(220,220,220);box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);">

<br><br>
<div style="color: orange;font-weight: bold;text-align: center;font-size: 130%;"> Log In </div>
<br>
<div style="color: grey;text-align:center;" class="content">
	Welcome to DigiCentra<br> Please log in up here
</div><br><br>
<div style="width: 20%;margin: auto;">
<form action="{% url 'Users:sign-in' %}" method="POST">
						{{ form.as_p }}
					{% csrf_token %}
<button type="submit" style="background-color:orange;color: white;font-size: 100%;font-weight: bold;" class="linestyle" >Log In</button>
      
</form>
<br><br><br>
<div>Don't have an account? <a href="{% url 'Users:sign-up' %}">sign-up</a>
</div>
<br><br><br><br><br><br>
</div>

</div>

{% endblock %}
