{% extends 'Users/base.html' %}
{% block content %}
{% load static %}

 <br>
<div class="menubuttons" style="border-radius: 20px;text-align: unset;font-weight: normal;border-color: rgb(220,220,220);box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);">

<br><br>
<div style="color: orange;font-weight: bold;text-align: center;font-size: 130%;"> Sign Up </div>
<br>
<div style="color: grey;text-align:center;" class="content">
	Welcome to DigiCentra<br> Please Sign up here
</div><br><br>
<form action="{% url 'Users:sign-up' %}" method="POST">
						{{ form.as_p }}
					{% csrf_token %}
<button type="submit" style="background-color:orange;color: white;font-size: 100%;font-weight: bold;" class="linestyle" >Sign Up</button>
      
</form>
<br><br><br>
</div>


{% endblock %}
