
        <p style="font-size:1.4em;color: #1a1a1a">{{ message }}</p>
        <h2 style="background: #07baa1;
        margin: 0 auto;
        width: max-content;
        padding: 0 25px;
        color: #fff;
        font-weight: 500;
        font-size: 1.6rem;">{{ code }}</h2>

