{% extends 'swap_fashions/base.html' %}
{% block  title %}
    <title>Swap Fashions | Home</title>
{% endblock %}

{% block content %}
    <div style="margin: auto;text-align: center" >
        <h1>Welcome to Swap Fashions</h1>
    </div>
{% endblock %}